html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eeeeee;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#list-characters{
}

#edit-character{
    display: none;
}
#battle-characters{
    display: none;
}

.panel{
    display: flex;
    flex-direction: column;
    text-align: center;
}

    .panel h1 {
        margin-bottom: 20px;
    }

.character-item-wrapper {
    display: flex;
    flex-direction: column;
}

.character-item {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
}

.character-item.character {
    background-color: #ffffff;
}

.character-item.selected {
    background-color: green;
}

.character-item-actions {
    justify-content: center;
}

.character-thumbnail img {
    width: 75px;
    height: 75px;
    padding-right: 10px;
}

.character-details {
    text-align: left;
    width: 100%;
}
    .character-details-header {
        display: flex;
        justify-content: end;
    }

    .character-details-header .launch-edit{
        padding-left: 5px;
    }
    
    .character-details-header .launch-delete{
        padding-left: 5px;
    }
    
    .character-title {
        flex-grow: 1;
    }

    .character-details h2 {
        font-size: 16px;
        font-weight: bold;
        margin: 0px;
        flex-shrink: 1;
    }

    .character-details p {
        font-size: 14px;
        margin-bottom: 10px;
    }

.launch-delete-character {
    cursor: pointer;
}

.form-item-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
}

    .form-item-container .portrait {
        grid-column: 1;
        justify-self: end;
    }

    .form-item-container .form-column {
        grid-column: 2;
        display:grid;
        /* grid-template-columns: fr fr; */
        grid-template-columns: fr fr;
        align-content: start;
        row-gap: 20px;
    }

        .form-item-container .form-column label {
            justify-self: end;
            align-self: center;
            grid-column: 1;
        }

        .form-item-container .form-column input {
            place-self: center;
            grid-column: 2;
            font-size: larger;
        }

        .form-item-container .form-column .form-actions {
            grid-column: span 2;
        }

.battle-container {
    display: grid;
    column-gap: 20px;
}

    .battle-container .battle-character {
        display: flex;
        flex-direction: column;
    }

    .battle-container .battle-actions {
        grid-column: span 2;
    }

input {
    font-size: large;
}

.button {
    background-color:  lightgrey;
    border: none;
    color: grey;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
}

.inactive {
    display: none;
}