.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.panel{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.panel h1 {
    margin-bottom: 20px;
}

.item {
    display: flex;
}
/* 
.item .thumbnail {
    width: 100px;
    height: 100px;
    margin-right: 10px;
} */

.thumbnail img {
    width: 75px;
    height: 75px;
    margin: 10px;
}

.content {
    text-align: left;
}

.content h2 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content p {
    font-size: 14px;
    margin-bottom: 10px;
}

.form-item-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
}

.form-item-container .portrait {
    grid-column: 1;
    justify-self: end;
}

.form-item-container .form-column {
    grid-column: 2;
    display:grid;
    /* grid-template-columns: fr fr; */
    grid-template-columns: fr fr;
    align-content: start;
    row-gap: 20px;
}

.form-item-container .form-column label {
    justify-self: end;
    align-self: center;
    grid-column: 1;
}

.form-item-container .form-column input {
    place-self: center;
    grid-column: 2;
    font-size: larger;
}

.form-item-container .form-column .form-actions {
    grid-column: span 2;
}

.battle-item-container {
    display: grid;
}

.battle-item-container .battle-actions {
    grid-column: span 2;
}

input {
    font-size: large;
}

.button {
    background-color:  lightgrey;
    border: none;
    color: grey;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
}